<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/include/header_footer.css">
    <link rel="stylesheet" href="../css/board/freeboard_write.css">
</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .container-free} ) }">

    <div class="container-free">
        <div class="row_free">
            <div class="free-title-box">
                자유게시판
            </div>
            <div class="free-main-box">
                <form class="free-form-inner" action="boardForm" method="post">
                    <div class="list_table_wrap">
                    	<input type="hidden" name="user_no" th:value="${session.user_no}">
                    	<input type="hidden" name="user_name" th:value="${session.user_name}">
                    
                        <input type="text" name="free_title"  placeholder="제목을 입력해주세요" class="free_title">
                        <br>
                        <span style="color:red;opacity:0" class="title_vail">제목을 입력해주세요</span>
                        <br><br>
                        <textarea name="free_content"  placeholder="내용을 입력해주세요" class="free_content"></textarea>
                        <br>
                        <span style="color:red;opacity:0" class="content_vail">내용을 입력해주세요</span>
                    </div>
                    <br>
                    <div class="w-btn-p">
                        <button type="button" class="free_write contents_sbm_btn">등록하기</button><br>
                    </div>
                </form>
                </div>
            </div>
    </div>

</th:block>
<script>
$(function(){
	
	//제목 입력 이벤트
	$('.free_title').on('keyup',function(){
		
		//값이 없을경우
		if($(this).val() == ''){
			
			$('.title_vail').css('opacity','1');
			
		//값이 있을경우
		}else{
			$('.title_vail').css('opacity','0');
		}
	})
	
	
	//내용 입력 이벤트
	$('.free_content').on('keyup',function(){
		
		//값이 없을경우
		if($(this).val() == ''){
			
			$('.content_vail').css('opacity','1');
		
		// 값이 있을 경우
		}else{
			$('.content_vail').css('opacity','0');
		}
	})
	
	//등록하기 버튼 클릭 이벤트
	$('.contents_sbm_btn').on('click',function(){
		
		//제목 값
		const free_title = $('.free_title').val();
		
		//내용 값
		const free_content = $('.free_content').val();
		
		//제목 유효성 검사
		if(free_title == ''||free_title == null){
			
			//값이 없을 경우 입력 안내 멘트 출력
			$('.title_vail').css('opacity','1');
			return false;
		}
		
		//내용 유효성 검사
		if(free_content == ''||free_content == null){
			
			//값이 없을 경우 입력 안내 멘트 출력
			$('.content_vail').css('opacity','1');
			return false;
		}
		
		//제목과 내용의 값이 있을 경우 전송
		$(this).parent().parent().submit();
		
	});
})
</script>
</html>