<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/include/header_footer.css">
    <link rel="stylesheet" href="../css/board/qnaboard_write.css">
</head>

<th:block th:replace="~{./include/basicLayout :: setContent( ~{:: .container-qna} ) }">

    <div class="container-qna">
        <div class="row_qna">
            <div class="qna-title-box">
                문의하기
            </div>
            <div class="qna-main-box">
                <form class="qna-form-inner" action="qnaboardForm" method="post">
                    <div class="list_table_wrap">
                    	<input type="hidden" name="user_no" th:value="${session.user_no}">
                    	<input type="hidden" name="user_name" th:value="${session.user_name}">
                    
                        <input type="text" name="qna_title"  placeholder="제목을 입력해주세요" class="qna_title">
                        <br>
                        <span style="color:red; opacity:0" class="title_vail">제목을 입력해주세요</span>
                        <br><br>
                        <textarea name="qna_content"  placeholder="내용을 입력해주세요" class="qna_content"></textarea>
                        <br>
                        <span style="color:red; opacity:0" class="content_vail">내용을 입력해주세요</span>
                    </div>
                    <br>
                    <div class="w-btn-p">
                        <button type="button" class="qna_write contents_sbm_btn">등록하기</button><br>
                    </div>
                </form>
                </div>
            </div>
    </div>

</th:block>
<script>
$(function(){	
	$('.qna_title').on('keyup',function(){
		if($(this).val() == '' ){	
			$('.title_vail').css('opacity','1');
		}else{
			$('.title_vail').css('opacity','0');
		}
	})
	
	$('.qna_content').on('keyup',function(){
		if($(this).val() == ''){
			$('.content_vail').css('opacity','1');
		}else{
			$('.content_vail').css('opacity','0');
		}
	})
	
	$('.contents_sbm_btn').on('click',function(){
		const qna_title = $('.qna_title').val().trim();
		const qna_content = $('.qna_content').val().trim();
		if(qna_title == ''||qna_title == null){
			$('.title_vail').css('opacity','1');
			return false;
		}
		if(qna_content == ''||qna_content == null){
			$('.content_vail').css('opacity','1');
			return false;
		}
		$(this).parent().parent().submit();
	});
})
</script>
</html>