<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="../css/group/groupList.css">
</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">

<section class="wrap">

	<section class="group_main_list_searchresult">
					<div class="group_main_list_searchresult_box">
						<ul>
							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

						</ul>
					</div>
				</section>

</section>

</th:block>

</html>