<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/group/groupList.css">
</head>

<th:block th:replace="~{./include/basicLayout :: setContent( ~{:: .wrap} ) }">

<section class="wrap">

	<div class="group_list">
		<div class="btn-box">
			<a href="/group/groupRegist" class="w-btn w-btn-indigo">그룹만들기</a>
		</div>
		<div class="group_list_result">
			<div th:each="vo, state : ${list}">			
				<div class="group_list_box">
					<ul>
						<li>
							<a th:href="@{/group/groupMain(group_no=${vo.group_no})}">
								<img th:src="@{../display(filepath=${vo.group_filepath}, uuid=${vo.group_fileuuid}, filename=${vo.group_filename})}">
								<div class="group_main_list_searchresult_detail">
									<div class="group_main_list_searchresult_left">
										<span>[[${vo.category_parent_name}]]>[[${vo.category_child_name}]]</span><br>
										<span>[[${vo.group_name}]]</span><br>
										<span>[[${vo.group_leader_name}]]</span>
									</div>	
								</div>
							</a>
						</li>	
					</ul>
				</div>
			</div>	
		</div>
	</div>
		
		<!-- 플롯속성 범위 오류 해제 -->
		<p style=clear:both;></p>
		

</section>

</th:block>

</html>