<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- 부트스트랩 적용방법 (min or 일반 파일중 하나를 링크) -->
    <!-- 링크 순서 중요 -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 아이콘이 표시되지않아 직접 링크찾아 넣어줌 -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="../js/bootstrap.js"></script>

    <!-- 개인디자인(부트스트랩 아래에 위치) -->
    <link rel="stylesheet" href="../css/common.css"><!-- 공통 -->
    <link rel="stylesheet" href="../css/group/groupApplication.css">

</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">
    
    <section class="wrap">
        <div class="container">
            <div class="row">
                <div class="form-join2">
                    
                    <div class="app-title">
                        스터디 신청
                    </div>
                    
                    <form class="app-form" name="groupApplicationForm" action="groupApplicationForm" method="post">
                          
                        <input type="hidden" name="user_no" th:value="${session.userVO.user_no}"/> 
                        <!-- <input type="hidden" name="group_no" th:value="${vo.group_no}"/> -->
        				
                         
                        <div class="app-box">
                            <label>닉네임</label>
                            <input type="text" class="form-control" name="user_name" th:value="${session.userVO.user_name}" readonly>
                        </div>

                        <div class="app-box">
                            <label>이메일</label>
                            <input type="text" class="form-control" name="email" th:value="${session.userVO.email}" readonly>
                        </div>
                        
                        <div class="app-box">
                        <label>level</label><br>
                        <select class="app-sel" name="req_level">
                            <option name="level">초급</option>
                            <option name="level">중급</option>
                            <option name="level">상급</option>
                        </select>
                        </div>

                        <div class="app-box" >
                        <label>한줄 자기소개</label><br>
                        <textarea class="app-text" rows="50" cols="500" name="req_about_me"></textarea>
                        <div>


                        <a href="/group/groupDetail" class="w-btn btn-danger btn-block5">취소</a>
                        <button type="submit" class="w-btn btn-block4">신청</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</th:block>
</html>