<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 공통 css디자인 -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 스타일 css디자인 -->
    <link rel="stylesheet" href="../css/group/groupRegList.css">

</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .apply_list} ) }">

    <section class="apply_list">
        
        <section class="apply_list_page">

            <div class="apply_list_title">
                <div>신청명단</div>
            </div>

            
            <div class="apply_list_applicant">
                <ul>
                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                    <li>
                        <img src="../img/group/default_user.png">
                    
                        <div class="apply_list_applicant_info">
                            <span>닉네임</span><br>
                            <span>수준</span><br>
                            <span>소개</span><br>
                            <span>바라는점</span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>
               
                </ul>
            </div>

            

        </section>

        <div class="apply_list_pagenation">
            <ul>
                <li>
                    <a>◀</a>
                </li>
                <li>
                    <a>1</a>
                </li>
                <li>
                    <a>2</a>
                </li>
                <li>
                    <a>3</a>
                </li>
                <li>
                    <a>4</a>
                </li>
                <li>
                    <a>5</a>
                </li>
                <li>
                    <a>▶</a>
                </li>
            </ul>
        </div>


    </section>
</th:block>
</html>