<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/group/groupList.css">
</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">

<section class="wrap">

	<div class="group_list">
		<div class="btn-box">
			<a href="/group/groupRegist" class="w-btn w-btn-indigo">그룹만들기</a>
		</div>
		<div class="group_list_result">
			<div class="group_list_box">
				<ul>
					<li>
						<a href="/group/groupMain">
							<img src="../img/group/1.png">
							<div class="group_main_list_searchresult_detail">
								<div class="group_main_list_searchresult_left">
									<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디리더(닉네임)</span>
								</div>	
								<div class="group_main_list_searchresult_right">
									<span>스터디 기간</span><br> <span>스터디 시간</span><br>
								</div>
							</div>
							<div class="group_main_list_searchresult_viewcount">
								<span>조회 수</span>
							</div>
						</a>
					</li>	
				</ul>
			</div>
		</div>
	</div>
		
		<!-- 플롯속성 범위 오류 해제 -->
		<p style=clear:both;></p>
		

</section>

</th:block>

</html>