<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/group/groupMain.css">

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../js/bootstrap.js"></script>

</head>


	<script>
        $(document).ready(function () {
            calendarInit();
        });
        /*
            달력 렌더링 할 때 필요한 정보 목록 
        
            현재 월(초기값 : 현재 시간)
            금월 마지막일 날짜와 요일
            전월 마지막일 날짜와 요일
        */

        function calendarInit() {

            // 날짜 정보 가져오기
            var date = new Date(); // 현재 날짜(로컬 기준) 가져오기
            var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
            var kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
            var today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)

            var thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
            // 달력에서 표기하는 날짜 객체


            var currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
            var currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
            var currentDate = thisMonth.getDate(); // 달력에서 표기하는 일

            // kst 기준 현재시간
            // console.log(thisMonth);

            // 캘린더 렌더링
            renderCalender(thisMonth);

            function renderCalender(thisMonth) {

                // 렌더링을 위한 데이터 정리
                currentYear = thisMonth.getFullYear();
                currentMonth = thisMonth.getMonth();
                currentDate = thisMonth.getDate();

                // 이전 달의 마지막 날 날짜와 요일 구하기
                var startDay = new Date(currentYear, currentMonth, 0);
                var prevDate = startDay.getDate();
                var prevDay = startDay.getDay();

                // 이번 달의 마지막날 날짜와 요일 구하기
                var endDay = new Date(currentYear, currentMonth + 1, 0);
                var nextDate = endDay.getDate();
                var nextDay = endDay.getDay();

                // console.log(prevDate, prevDay, nextDate, nextDay);

                // 현재 월 표기
                $('.year-month').text(currentYear + '-' + (currentMonth + 1));

                // 렌더링 html 요소 생성
                calendar = document.querySelector('.dates')
                calendar.innerHTML = '';

                // 지난달
                for (var i = prevDate - prevDay + 1; i <= prevDate; i++) {
                    calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable">' + i + '</div>'
                }
                // 이번달
                for (var i = 1; i <= nextDate; i++) {
                    calendar.innerHTML = calendar.innerHTML + '<input type="button" class="day current" value="' + i + '">'
                }
                // 다음달
                for (var i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay); i++) {
                    calendar.innerHTML = calendar.innerHTML + '<div class="day next disable">' + i + '</div>'
                }

                // 오늘 날짜 표기
                if (today.getMonth() == currentMonth) {
                    todayDate = today.getDate();
                    var currentMonthDate = document.querySelectorAll('.dates .current');
                    currentMonthDate[todayDate - 1].classList.add('active');
                }
                
                
               	var yearMonth = $('.year-month').html();
               	$('#regdate').val(yearMonth + '-' + todayDate);
               	
               	// 날짜 클릭 시 이벤트
                $('.current').on('click', function () {
                	
                	var day = $(this).val();
                	$('#regdate').val(yearMonth + '-' + day);
                	
                	var date = $('#regdate').val();
                	
                    
                    if(!$(this).hasClass('active')) {                    	
	                    var currentMonthDate = document.querySelectorAll('.dates .current');
	                    
	                    for(var i = 0; i < currentMonthDate.length; i++) {
	                    	if(currentMonthDate[i].classList.contains('active')) {
	                    		currentMonthDate[i].classList.remove('active');	
	                    	}
	                    }
	                    
	                    
	                    $(this).addClass('active');
	                    
                    }
                    
                    /*<![CDATA[*/
                    var group_no = '[[${SGvo.group_no}]]';
                    /*]]>*/
                    
                    // console.log(date);
                    
                    $.ajax({
                   	    type : 'GET',
                   	    url : 'getToDo',
                   	    data : {
                   	    	date : date,
                   	    	group_no : group_no
                   	    },
                   	    error : function(error) {
                   	        alert("일정을 가져오는데 실패했습니다.");
                   	    },
                   	    success : function(data) {
                   	        // console.log(data);
                   	        
                   	        var content = '';
                   	        
                   	     	data.forEach(function(result, index) {
                   	     		content += '<tr><td>' + (index+1) + '</td>' +
                   	     					  '<td>' + result.place + '</td>' +
                   	     					  '<td>' + result.content + '</td>' +
                   	     					'<td><button type="button" class="todoUpdate w-btn2" value="' + result.todo_no + '"><img src="../img/group/edit.png" style="width: 20px;"></button></td>' +
	            	     			          '<td><button type="button" class="todoDelete w-btn2" value="' + result.todo_no + '"><img src="../img/group/del.png" style="width: 20px;"></button></td></tr>';	
                   	     	});
                   	     	
                   	     $('#todoContent').children().remove();
                   	     $('#todoContent').append(content);
                   	        
                   	    }
                   	    
                   	 
                   	});
                    
                    
                    
                 
                
                
            }); // 날짜 클릭 이벤트 end
            
            
            } // 캘린더 렌더링 end

            // 이전달로 이동
            $('.go-prev').on('click', function () {
                thisMonth = new Date(currentYear, currentMonth - 1, 1);
                renderCalender(thisMonth);
            });

            // 다음달로 이동
            $('.go-next').on('click', function () {
                thisMonth = new Date(currentYear, currentMonth + 1, 1);
                renderCalender(thisMonth);
            });
            
            // todolist 등록
           	$( "#todoReg" ).submit(function( event ) {
           		  event.preventDefault();
           		  var url = $(this).attr( "action" );
           		  var data = $(this).serialize();
           		  console.log(data);
           		  
           		$.ajax({
               	    type : 'POST',
               	    url : url,
               	    data : data,
               	    error : function(error) {
               	        alert("일정 등록 실패했습니다. 관리자에게 문의하세요.");
               	    },
               	    success : function(data) {
               	        alert(data[0].regdate + "에 일정 등록 성공했어요!");
               	        
	               	     var content = '';
	            	        
	            	     	data.forEach(function(result, index) {
	            	     		content += '<tr><td>' + (index+1) + '</td>' +
	            	     					  '<td>' + result.place + '</td>' +
	            	     					  '<td>' + result.content + '</td>' +
	            	     					 '<td><button type="button" class="todoUpdate w-btn2" value="' + result.todo_no + '"><img src="../img/group/edit.png" style="width: 20px;"></button></td>' +
	            	     			          '<td><button type="button" class="todoDelete w-btn2" value="' + result.todo_no + '"><img src="../img/group/del.png" style="width: 20px;"></button></td></tr>';		
	            	     	});
	            	     	
	            	     $('#todoContent').children().remove();
	            	     $('#todoContent').append(content);
               	    },
               	});
           		  
           	});
            
            
         // 삭제버튼 이벤트
            $(document).on('click', '.todoDelete', function () {
 				var todo_no = $(this).attr('value');
 				
 				console.log(todo_no);
 				
 				$.ajax({
 					type: 'POST',
 					url: 'todoDelete',
 					data: {todo_no: todo_no},
 					error: function(data) {
 						alert("비동기 에러! 관리자에게 문의하세요.");
 					},
 					success: function(data) {
 						if(data == 1) { 							
	 						alert("삭제 성공했어요!");
 						} else {
	 						alert("삭제에 실패했어요. 관리자에게 문의하세요."); 							
 						}
 					}
 				}); // ajax end
 				
 				$(this).parent().parent().remove();
 				
 			
          	}); // 삭제버튼 이벤트 end
          	
         // 수정버튼 이벤트
            $(document).on('click', '.todoUpdate', function () {
 				var todo_no = $(this).attr('value');
 				var data = $('#todoReg').serialize();
 				
 				data += "&todo_no=" + todo_no;
 				console.log(data);
 				
 				$.ajax({
 					type: 'POST',
 					url: 'todoUpdate',
 					data: data,
 					error: function(data) {
 						alert("비동기 에러! 관리자에게 문의하세요.");
 					},
 					success: function(data) {
 						if(data != null) { 							
	 						alert("삭제 성공했어요!");
	 						
							var content = '';
	            	        
	            	     	data.forEach(function(result, index) {
	            	     		content += '<tr><td>' + (index+1) + '</td>' +
	            	     					  '<td>' + result.place + '</td>' +
	            	     					  '<td>' + result.content + '</td>' +
	            	     					 '<td><button type="button" class="todoUpdate" value=" w-btn2' + result.todo_no + '"><img src="../img/group/edit.png" style="width: 20px;"></button></td>' +
	            	     			          '<td><button type="button" class="todoDelete" value=" w-btn2' + result.todo_no + '"><img src="../img/group/del.png" style="width: 20px;"></button></td></tr>';		
	            	     	});
	            	     	
	            	     $('#todoContent').children().remove();
	            	     $('#todoContent').append(content);
	 						
	 						
	 						
 						} else {
 							alert("수정에 실패했어요. 관리자에게 문의하세요.");
 						}
 					}
 				}); // ajax end
 				
 			
          	}); // 수정버튼 이벤트 end
            
        } // 캘린더 시작 end
        
      //종아요 버튼 구현
        $(document).on('click', '#like_count', function () {
        	/*<![CDATA[*/
        	var user_no = '[[${session.user_no}]]';
            var group_no = '[[${SGvo.group_no}]]';
            /*]]>*/
            
            // 값 잘 넘어오는지 확인용
            //console.log(group_no);
        	//console.log(user_no);
        	
            $.ajax({
        		type: 'POST',
        		url: 'like_count',
        		data: {
        			user_no: user_no,
        			group_no: group_no
        		},
        		success: function(data) {
        			$('.count_no').text(data);
        			console.log($('.count_no').text());
        		},
        		error: function() {
        			alert("에러입니다.");
        		}
        	
        	}) // ajax end
        	
        }) // like_count end
    </script>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">

	<section class="wrap">
				<div class="form-study">
					<!-- <img src="img/banner.png" class="banner-img"> -->
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img src="../img/group/wide-img4.jpg" alt="Los Angeles">
							</div>

							<div class="item">
								<img src="../img/group/wide-img5.jpg" alt="Chicago">
							</div>

							<div class="item">
								<img src="../img/group/wide-img6.jpg" alt="New York">
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>

					</div>


					<!-- 그룹 이름 -->
					<div class="titlebox">
						<h1>[[${SGvo.group_name}]]</h1>
					</div>

					<!-- 소개글 -->
					<div class="section-wrap">
						<div class="study-img">
							<img th:src="@{../display(filepath=${SGvo.group_filepath}, uuid=${SGvo.group_fileuuid}, filename=${SGvo.group_filename})}">
						</div>
						<h1 class="section-label">스터디 소개</h1>
						<div class="section-content">
							<p>[[${SGvo.group_content}]]</p>
						</div>
						<div>
							<span class="label label-primary"># [[${SGvo.category_child_name}]]</span>
							<span class="label label-success"># [[${SGvo.category_parent_name}]]</span>
						</div>

					</div>

					<!-- 참여 탈퇴 버튼 -->
					<div class="atd-btn">
						<a th:if="${SGvo.group_leader_name} == ${session.user_name}" th:href="@{/group/groupRegList(group_no=${SGvo.group_no})}" class="w-btn img-btn" >그룹참여신청목록</a>
						<a class="w-btn img-btn ext-btn" th:if="${SGvo.group_leader_name} != ${session.user_name}" th:href="@{/group/groupSecession(group_no=${SGvo.group_no}, user_no=${session.user_no})}">탈퇴</a>
						<button type="button" id="like_count" class="w-btn w-btn-indigo">
							<img src="../img/group/like.png" style="width: 20px;"> <span class="count_no">[[${like}]]</span>
						</button>


					</div>

					<!-- 달력 일정 -->
					<div class="title">
						<h3>스터디 일정</h3>
					</div>

					<div class="cal">
						
						<div class="todoList">

						<form id="todoReg" action="todoReg" method="post">
							<label>날짜</label> 
							<input type="text" class="form-control"	name="regdate" id="regdate" placeholder="클릭한 날짜(리드온리)" readonly>
							
							<br>
							
							<label>장소</label> 
							<input type="text" class="form-control" name="place" id="place" placeholder="장소를 입력해주세요."> 
							
							<br>
							 
							<label>내용</label>
							<input type="text" class="form-control" name="content" id="content" placeholder="내용을 입력해주세요.">
							
							<input type="hidden" name="group_no" id="group_no" th:value="${SGvo.group_no}">

							<br>
							
							<button type="submit" id="todoReg" class="w-btn w-btn-indigo">등록</button>
							
						</form>
								
							<table class="todoList-tb" cellpadding="0" cellspacing="0" width="90%;">
								<tr>
									<th>순서</th>
									<th>장소</th>
									<th>내용</th>
									<th>수정</th>
									<th>삭제</th>
								</tr>
								<tbody id="todoContent">
									
								</tbody>
							</table>
						</div>


						<div class="sec_cal">
							<div class="cal_nav">
								<a href="javascript:;" class="nav-btn go-prev">prev</a>
								<div class="year-month"></div>
								<a href="javascript:;" class="nav-btn go-next">next</a>
							</div>
							<div class="cal_wrap">
								<div class="days">
									<div class="day">MON</div>
									<div class="day">TUE</div>
									<div class="day">WED</div>
									<div class="day">THU</div>
									<div class="day">FRI</div>
									<div class="day">SAT</div>
									<div class="day">SUN</div>
								</div>
								<div class="dates"></div>
							</div>
						</div>
					</div>

					<!-- 게시판 -->

					<div class="title">
						<h3>스터디 그룹 공지 게시판</h3>
					</div>

					<div class="reg-btn-wrap">
						<a class="w-btn img-btn" th:href="@{/group/groupNotice(group_no=${SGvo.group_no}, group_leader_name=${SGvo.group_leader_name})}">더보기</a>
					</div>

					<div class="notice-wrap">

						<table class="notice_tb" cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<th>번호</th>
								<th>제목</th>
								<th>작성일</th>
								<th>조회수</th>
							</tr>
							<tbody class="notice_Content">
								<tr th:each="notice, state : ${GNlist}">
									<td>[[${state.index + 1}]]</td>
									<td><a title="상세보기(클릭)" th:href="@{/group/groupNoticeDetail(group_no=${notice.group_no}, groupnotice_no=${notice.groupnotice_no})}">[[${notice.groupnotice_title}]]</a></td>
									<td>[[${#temporals.format(notice.groupnotice_regdate, 'yyyy-MM-dd')}]]</td>
									<td>[[${notice.groupnotice_count}]]</td>
								</tr>
							</tbody>
							
							

						</table>
					</div>
					
					<div class="title">
						<h3>스터디 그룹 전용 게시판</h3>
					</div>

					<div class="reg-btn-wrap">
						<a class="w-btn img-btn" href="/group/groupBoard">더보기</a>
					</div>

					<div class="board-wrap">

						<table class="group-tb" cellpadding="0" cellspacing="0" width="100%;">
							<tr>
								<th>순서</th>
								<th>닉네임</th>
								<th>제목</th>
								<th>내용</th>
								<th>등록일</th>
							</tr>

							<tr>
								<td>1</td>
								<td>admin</td>
								<td>오늘은 해가뜨려나?</td>
								<td><a title="상세보기(클릭)" href="#">오늘은 비가오려나?</a></td>
								<td>2016-01-01</td>
							</tr>

							<tr>
								<td>1</td>
								<td>admin</td>
								<td>오늘은 해가뜨려나?</td>
								<td><a title="상세보기(클릭)" href="#">오늘은 비가오려나?</a></td>
								<td>2016-01-01</td>
							</tr>

							<tr>
								<td>1</td>
								<td>admin</td>
								<td>오늘은 해가뜨려나?</td>
								<td><a title="상세보기(클릭)" href="#">오늘은 비가오려나?</a></td>
								<td>2016-01-01</td>
							</tr>

							<tr>
								<td>1</td>
								<td>admin</td>
								<td>오늘은 해가뜨려나?</td>
								<td><a title="상세보기(클릭)" href="#">오늘은 비가오려나?</a></td>
								<td>2016-01-01</td>
							</tr>
						</table>
					</div>

				</div>
	</section>
</th:block>

</html>