<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 공통 css디자인 -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- 스타일 css디자인 -->
    <link rel="stylesheet" href="../css/group/groupRegList.css">

</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .apply_list} ) }">

    <section class="apply_list">
        
        <section class="apply_list_page">

            <div class="apply_list_title">
                <div>신청명단</div>
            </div>

            
            <div class="apply_list_applicant">
                <ul>
                    <li th:if="${applylist} != null" th:each="vo : ${applylist}">
                        <img src="../img/group/default_user.png">
                        <div class="apply_list_applicant_info">
                            <span>[[${vo.user_name}]]</span><br>
                            <span>[[${vo.req_level}]]</span><br>
                            <span>[[${vo.req_about_me}]]</span><br>
                            <span></span>
                        </div>
                                                  
                        <div class="apply_list_applicant_info_hover">
                            <button type="button" class="w-btn-ok w-btn-indigo">수락</button>
                            <button type="button" class="w-btn-no w-btn-indigo">거절</button>
                        </div>
                    </li>

                </ul>
            </div>

        </section>

    </section>
</th:block>
</html>