<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 부트스트랩 적용방법 (min or 일반 파일중 하나를 링크) -->
    <!-- 링크 순서 중요 -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 아이콘이 표시되지않아 직접 링크찾아 넣어줌 -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="../js/bootstrap.js"></script>

    <!-- 개인디자인(부트스트랩 아래에 위치) -->
    <link rel="stylesheet" href="../css/common.css"><!-- 공통 -->
    <link rel="stylesheet" href="../css/group/groupNoticeDetail.css">

</head>
<body>
    <th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .board-size} ) }">
<section class="board-size">    
    <div>
       <div class="board-title">
         그룹 공지사항
        </div>

        <form class="board-box" name="noticeDelete" action="noticeDelete" method="post">
            <div class="board-main">
            	<input type="hidden" name="groupnotice_no" th:value="${gnVO.groupnotice_no}"/>
            	
                <div class="board-top" name="groupnotice_title" th:value="${gnVO.groupnotice_title}">
                   [[${gnVO.groupnotice_title}]]
                </div>
                <div class="board-content" name="groupnotice_content" th:value="${groupnotice_content}">
                    [[${gnVO.groupnotice_content}]]
                </div>
            </div>
            <div class="board-footer">
                <ul>
                    <li class="board-prev">
                        <span class="b-prev">이전글 ▼</span>
                        <p class="txt-prev"><a href="#">[안내] 2021년 8월 대체휴일에 따른 두부플러스 휴무 안내</a></p>
                    </li>
                    <li class="board-next">
                        <span class="b-next">다음글 ▲</span>
                        <p class="txt-next"><a href="#">[안내] 2021년 8월 대체휴일에 따른 두부플러스 휴무 안내</a></p>
                    </li>
                </ul>
                <div class="box-btn">
                    <button type="submit" class="w-btn btn-danger list-btn">삭제</button>
                    <a th:href="@{/group/groupNoticeModify(groupnotice_no=${gnVO.groupnotice_no})}" class="w-btn list-btn" >수정</a>
                    <a href="/group/groupNotice" class="w-btn list-btn2">목록</a>
                </div>
            </div>
        </form>
</th:block>


</body>
</html>