<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- 부트스트랩 적용방법 (min or 일반 파일중 하나를 링크) -->
    <!-- 링크 순서 중요 -->
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 아이콘이 표시되지않아 직접 링크찾아 넣어줌 -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <script src="../js/bootstrap.js"></script>

    <!-- 개인디자인(부트스트랩 아래에 위치) -->
    <link rel="stylesheet" href="../css/common.css"><!-- 공통 -->
    <link rel="stylesheet" href="../css/group/groupNotice.css">

</head>
<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .board-size} ) }">

<section class="board-size">    
    <div>
       <div class="board-title">
         그룹 공지사항
        </div>
        <div class="board-content">
            <table class="board-list">
                <thead>
                    <tr>
                    <th class="col_num">번호</th>
                    <th class="col_title">제목</th>
                    <th class="col_date">작성일</th>
                    <th class="col_hit">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="gnVO, state : ${noticeList}">
                        <td class="col_num notice">[[${state.index + 1}]]</td>
                        <td class="col_title notice"><a th:href="@{/group/groupNoticeDetail(groupnotice_no=${gnVO.groupnotice_no})}">[[${gnVO.groupnotice_title}]]</a></td>
                        <td class="col_date notice">[[${#temporals.format(gnVO.groupnotice_regdate, 'yyyy-MM-dd')}]]</td>
                        <td class="col_hit notice">[[${gnVO.groupnotice_count}]]</td>
                    </tr>
                </tbody>
            </table>
            <a href="/group/groupNoticeReg" class="w-btn btn-block4">글작성</a>
        </div>
    </div>
    
    
    <div class="board-list-footer page">
        <ul>
    
        <th:block th:if="${pageVO.realEnd != 0}">
          <li>
          	<a th:href="@{/group/groupNotice(page=1, amount=${pageVO.amount})}">◀◀</a>
          </li>
        </th:block>
        
        <th:block th:if="${pageVO.prev}">
          <li>
          	<a th:href="@{/group/groupNotice(page=${pageVO.start - 1}, amount=${pageVO.amount})}">◀</a>
          </li>
        </th:block>
        
        <th:block th:each="page : ${pageVO.pageList}">
          <li th:class="${pageVO.page == page ? 'on' : ''}">
          	<a th:href="@{/group/groupNotice(page=${page}, amount=${pageVO.amount})}">[[${page}]]</a>
          </li>
        </th:block>
        
        <th:block th:if="${pageVO.next}">
          <li>
          	<a th:href="@{/group/groupNotice(page=${pageVO.end + 1}, amount=${pageVO.amount})}">▶</a>
          </li>
        </th:block>
        
        <th:block th:if="${pageVO.realEnd != 0}">
          <li>
          	<a th:href="@{/group/groupNotice(page=${pageVO.realEnd}, amount=${pageVO.amount})}">▶▶</a>
          </li>
        </th:block>  
        </ul>
      </div>
</section>



</th:block>

</html>