<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../js/freeboard.js"></script>

<link rel="stylesheet" href="../css/common.css">
<!-- 공통 -->
<link rel="stylesheet" href="../css/group/groupDetail.css">
<!-- 헤더, 푸터 -->
</head>

<th:block
	th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">
	<section class="wrap">
		<div class="group_list_detail">
		
			<div class="group_list_detail_title">
				<h3>그룹 홍보	페이지</h3>
			</div>
			
			
			<div class="detail_profile">
				<img src="../img/group/o.png" alt="방장">
				<div>
					<h4>
						[[${groupVO.group_leader_name}]]
					<h4>
						
				</div>
			</div>

			<div class="detail_box">
				<div class="detail_title">
					<div class="detail_category">[[${groupVO.group_name}]]</div>
				</div>
			</div>

			<div class="tag">#[[${groupVO.category_parent_name}]]</div>
			<div class="tag">#[[${groupVO.category_child_name}]]</div>

			
			
			<div class="detail_subbtn"> 
			<button class="w-btn w-btn-indigo">
				<img src="../img/group/like.png" style="width: 20px;"> 1
			</button> <br><br><br>
			<span style="font-size: 20px; background-color: pink"> 참여인원: [[${mtotal}]]/[[${groupVO.group_participant_amount}]]명 </span>
			</div>

			<div class="detail_boxbtn" th:if="${groupVO.group_leader_name} != ${session.user_name}">
				<button class="detail_btn2" type="button">
				<a th:href="@{/group/groupApplication(group_no=${groupVO.group_no})}" style="color : white">참여신청</a> </button>
			</div>

		</div>
		

		<div class="detail-wrap">
			<div class="detail_content">
				[[${groupVO.group_content}]]
			</div>
		</div>


		<!--댓글영역-->
		<!--form-control은 부트스트랩 클래스-->
		<div class="container"
			style="margin-top: 50px; width: 1250px; padding: 10px;">
			<div class="row">

				<div class="col-xs-12 younggi">
					<div class="reply-wrap">


						<form action="groupCommentForm" method="post">
							<!--전체영역-->
							<div class="reply-img">
								<!--이미지영역-->
								<img src="/img/group/profile.png" alt="프로필">						
								</div>
							<div class="reply-content">
								<!--내용-->
								<textarea class="form-control" placeholder="내용입력" name="comment_content"
									style="border-radius: 2px; width: 100%;" required="required"></textarea>	
									<button type="submit" class="btn-btn-info">등록하기</button>
							</div>
							<input name="user_name" type="hidden" th:value="${session.userVO} != null ? ${session.userVO.user_name}">
							<input name="user_no" type="hidden"   th:value="${session.userVO} != null ? ${session.userVO.user_no}">
							<input name="group_no" type="hidden"   th:value="${session.GroupDetailCommentVO} != null ? ${session.GroupDetailCommentVO.group_no}">
						</form>
					</div>


					<th:block th:each="commentVO:${list}">
					<div class="reply-wrap">
						<div class="reply-img">
							<img src="/img/group/profile.png" alt="프로필">
						</div>
						<div class="reply-content">
							<div class="reply-group">
								<strong>[[${commentVO.user_name}]]</strong> <small>[[${commentVO.comment_regdate}]]</small> 
								<a href="#" class="replyUpadteBtn" th:if="${commentVO.user_name == session.userVO.user_name}" >
									<i class="glyhpicon glyphicon-pencil"></i>수정
								</a> 
								<form action="groupCommentDelete" method="post">
								<a th:href="@{/group/groupCommentDelete(comment_no=${commentVO.comment_no})}" 
								th:if="${commentVO.user_name == session.userVO.user_name}"style="float: right" >
									<i class="glyhpicon glyphicon-remove"></i>삭제
								</a>
								</form>
							</div>
							<p>[[${commentVO.comment_content}]]</p>
						</div>
					</div>
					<form action="groupCommentUpdate" method="post" class="r_contentsx1" style="display: none; ">
							<input type="hidden" name="comment_no" th:value="${commentVO.comment_no}" >
	                    	 <textarea name="comment_content"  style="width: 100%;">[[${commentVO.comment_content}]]</textarea>
	                     	 <button type="submit" class="re-coment-btn" >
	                     	 <a>수정하기</a>
	                     	 </button>
	                </form>
	                     
					</th:block>
					
					
			
					
				</div>
			</div>
		</div>
	</section>

</th:block>

<script th:inline="javascript">
	$(".replyUpadteBtn").click(function(e) {
		
		//나머지.....		
		e.preventDefault();
		$(e.target).closest(".reply-wrap").next().slideToggle();
		
	})
	
</script>


<script th:inline="javascript">
	//메시지 출력문
	(function() {
		var msg = JSON.parse('[[${msg}]]');	
		if(msg != null) {
			alert(msg);
		}
	})();
</script>


</html>