<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="../js/bootstrap.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../js/freeboard.js"></script>

<link rel="stylesheet" href="../css/common.css">
<!-- 공통 -->
<link rel="stylesheet" href="../css/group/groupDetail.css">
<!-- 헤더, 푸터 -->
</head>

<th:block
	th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">
	<section class="wrap">
		<div class="group_list_detail">
			<div class="group_list_detail_title">
				<h3>스터디 디테일</h3>
			</div>

			<div class="detail_profile">
				<img src="../img/group/o.png" alt="방장">
				<div>
					<h4>
						오드리
						<h4>
							<button class="detail_btn" type="button" href="">프로필 보기</button>
				</div>
			</div>

			<div class="detail_box">
				<div class="detail_title">
					<div class="detail_day">모집기간: 2022-04-18 ~ 2022-5-18</div>
					<div class="detail_category">자격증</div>
				</div>
			</div>

			<div class="tag">#IT</div>
			<div class="tag">#JAVA</div>
			<div class="tag">#SPRING</div>
			<div class="tag">#MYSQL</div>


			<div class="detail_subbtn">
				<span>모집중</span>
			</div>

			<div class="detail_boxbtn">
				<button class="detail_btn2" type="button" href="">참여신청</button>
			</div>

		</div>


		<div class="detail-wrap">
			<div class="detail_content">


				🔮 역사에 진심인 사람들 모여라!!! <br> <br> 🔆 모집 기간: 3.30 (수) - 4.5
				(화) <br> 🔆 장소: 카페 (구체적인 장소는 모집 후 상의할 예정) <br> 🔅 모집 대상:
				20대 초중반 ‼️ <br> <br> <br> ⏱ 역사는 그냥 암기과목이고,, 재미가 없고,,
				지루하다고⁉️ <br> 🤫 역사는 완전 이해과목이고 재미있는 과목!! <br> " 역사를 잊은 민족에겐
				미래란 없다 " 역사 속 그 과거를 거울 삼아<br> 나의 앞으로의 미래를 계획하여 나라는 사람이 하나의 문명이
				될 수 있도록!<br> 나의 삶을 개척하고 변화시키기 위해 반드시 필요한 역사!

			</div>
		</div>


		<!--댓글영역-->
		<!--form-control은 부트스트랩 클래스-->
		<div class="container"
			style="margin-top: 50px; width: 1250px; padding: 10px;">
			<div class="row">

				<div class="col-xs-12 younggi">
					<div class="reply-wrap">


						<form action="groupCommentForm" method="post">
							<!--전체영역-->
							<div class="reply-img">
								<!--이미지영역-->
								<img src="/img/group/profile.png" alt="프로필">						
								</div>
							<div class="reply-content">
								<!--내용-->
								<textarea class="form-control" placeholder="내용입력" name="comment_content"
									style="border-radius: 2px; width: 100%;" required="required"></textarea>	
							</div>
							<input name="user_name" type="hidden" th:value="${session.userVO} != null ? ${session.userVO.user_name}">
							<input name="user_no" type="hidden"   th:value="${session.userVO} != null ? ${session.userVO.user_no}">
							<button type="submit" class="btn-btn-info">등록하기</button>
						</form>
					</div>


					<th:block th:each="commentVO:${list}">
					<div class="reply-wrap">
						<div class="reply-img">
							<img src="/img/group/profile.png" alt="프로필">
						</div>
						<div class="reply-content">
							<div class="reply-group">
								<strong>[[${commentVO.user_name}]]</strong> <small>[[${commentVO.comment_regdate}]]</small> 
								<a href="#" class="replyUpadteBtn" th:if="${commentVO.user_name == session.userVO.user_name}" >
									<i class="glyhpicon glyphicon-pencil"></i>수정
								</a> 
								<form action="groupCommentDelete" method="post">
								<a href="" >
									<i class="glyhpicon glyphicon-remove"></i>삭제
								</a>
								</form>
							</div>
							<p>[[${commentVO.comment_content}]]</p>
						</div>
					</div>
					<form action="groupCommentUpdate" method="post" class="r_contentsx1" style="display: none; ">
							<input type="hidden" name="comment_no" th:value="${commentVO.comment_no}" >
	                    	 <textarea name="comment_content"  style="width: 100%;">[[${commentVO.comment_content}]]</textarea>
	                     	 <button type="submit" class="re-coment-btn" >
	                     	 <a>수정하기</a>
	                     	 </button>
	                </form>
	                     
					</th:block>
					
					
			
					
				</div>
			</div>
		</div>
	</section>

</th:block>

<script th:inline="javascript">
	$(".replyUpadteBtn").click(function(e) {
		
		//나머지.....		
		e.preventDefault();
		$(e.target).closest(".reply-wrap").next().slideToggle();
		
	})
	
</script>


<script th:inline="javascript">
	//메시지 출력문
	(function() {
		var msg = JSON.parse('[[${msg}]]');	
		if(msg != null) {
			alert(msg);
		}
	})();
</script>


</html>