<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 베이직 레이아웃1 -->
<th:block th:fragment="setContent(content)">

	<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<!--공통 -->
<!-- 경로는 절대경로 -->
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/include/header_footer.css}" />

<script src="http://code.jquery.com/jquery-latest.js"></script>

</head>
	<body>
		<!-- 헤더 -->
    	<header>
    	
        <div class="web_header_logo">
                <a class="logo_image" href="/main">
                    <img src="../img/include/Logo.png">
                </a>
        </div>
    	</header>
		<div class="web_header">
			<!-- 로고 영역 -->
			<a class="logo_image" href="/main"> <img
				src="../img/include/LogoIcon.png">
			</a>
			<!-- 헤더 우측  -->
			<ul class="navbar-right">
			
			    <li><a href="/board/freeboard_main" style="margin-right: 20px;">커뮤니티</a></li>
            	<li><a href="/board/qnaboard_main" style="margin-right: 20px;">QnA</a></li>
				<li th:if="${session.userVO} == null"><a href="/user/login" style="margin-right: 20px;">로그인</a></li>
				<li th:if="${session.userVO} == null"><a class="joinbutton" href="/user/userJoin">회원가입</a></li>
                <div class="dropdown" th:if="${session.userVO} != null">
                    <button class="dropbtn">스터디관리</button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a th:href="@{/group/groupList(user_no=${session.user_no})}">마이스터디</a></li>
                        </ul>
                    </div>
                </div>
				<div class="dropdown" th:if="${session.userVO} != null">
                    <button class="dropbtn">[[${session.userVO.user_name}]]님</button>
                    <div class="dropdown-content">
                        <ul>
                            <li><a th:href="@{/user/userMypage}"><span>회원정보</span></a></li>
                            <li><a href="/user/logout"><span>로그아웃</span></a></li>
                        </ul>
                    </div>
                </div>
			</ul>
		</div>

		<!-- 본문 -->
		<th:block th:replace=${content}></th:block>

		<!-- 푸터 -->
		<footer>
			<div class="container-fluid">
				<div class="rowf">
					<div class="left">
						<div class="copyright">
							<a href="#"> <img src="../img/include/LogoIcon.png"
								width="30">
							</a> StepUp | 대표자: StepUp | email: teamStepUp@naver.com <br> 사업자번호:
							1255-8659514-4445 | 개인정보보호책임자: 스텝업 | 통신판매업: 2326-서울강남-551225<br>
							주소: 서울시 강남구
							<address>Copyright ⓒ 1999 - 2021 팀명팀명 all rights
								reserved.</address>
						</div>
					</div>
					<div class="right">
						<div class="footer-menu">
							<ul class="copyright-menu">
								<li>StepUp</li>
								<li>이용약관</li>
								<li>문의사항</li>
								<li>개인정보취급방침</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>

	</body>

</th:block>

</html>