<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/user/user_login.css">
</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .container-login} ) }">

    <!-- <div style="position: sticky; top: 42px; left: 0;">.....</div> -->
    <div class="container-login">
        <div class="row">
            <div class="login-title-box">
                로 그 인
            </div>
            <div class="login-main-box">
                <form class="login-form-inner" action="login" method="post">
                    <!-- 버튼 없는 인풋 -->
                    <div class="form-group"  >
                        <label style="font-weight: bold;">이메일</label><br>
                        <input type="text" class="form-control" name="email" placeholder="이메일을 입력해주세요">
                    </div><br>
                    <!-- 버튼 없는 인풋 -->
                    <div class="form-group">
                        <label style="font-weight: bold;">비밀번호</label><br>
                        <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력해주세요">
                    </div><br>
                    <div class="form-group button">
                        <button type="submit" class="w-btn w-btn-indigo">로그인</button><br>
                    </div><br>
                    <div class="form-group button">
                        <button type="button" class=" w-btn w-btn-indigo kakao" onclick=kakaoLogin()></button><br>
                        <div class="alert alert-danger d-none" id="alert-kakao-login"></div>
                    </div><br>
                    <div class="form-group button" id="naverLogout">
                        <button type="button" id="naverIdLogin_loginButton" class=" w-btn w-btn-indigo naver"></button><br>
                    </div><br>
                    <div class="form-group-right">
                        <a href="/user/userJoin"><span>일반 회원가입</span></a>
                    </div>
                </form>
                <form id="form-kakao-login" method="post" action="kakao-login">
		    			<input type="hidden" name="email"/>
		    			<input type="hidden" name="password"/>
		    			<input type="hidden" name="user_name"/>
		    			<input type="hidden" name="logintype"/>
		    	</form>
            </div>
        </div>
    </div>

</th:block>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<script>

$("alert-kakao-login").addClass("d-none");

Kakao.init('9fa30995b7cd00ec24fd1457246c0f4e'); //발급받은 키 중 javascript키를 사용해준다.
console.log(Kakao.isInitialized()); // sdk초기화여부판단
//카카오로그인
function kakaoLogin() {
    Kakao.Auth.login({
    	success:function(auth){
			Kakao.API.request({
				url: '/v2/user/me',
				success: function(response){
					// 사용자 정보를 가져와서 폼에 추가.
					var account = response.kakao_account;
					
					$('#form-kakao-login input[name=email]').val(account.email);
					$('#form-kakao-login input[name=password]').val("kakao");
					$('#form-kakao-login input[name=user_name]').val(account.profile.nickname);
					$('#form-kakao-login input[name=logintype]').val(1);
					// 사용자 정보가 포함된 폼을 서버로 제출한다.
					document.querySelector('#form-kakao-login').submit();
				},
				fail: function(error){
					// 경고창에 에러메시지 표시
					$('alert-kakao-login').removeClass("d-none").text("카카오 로그인 처리 중 오류가 발생했습니다.")
				}
			}); // api request
		}, // success 결과.
		fail:function(error){
			// 경고창에 에러메시지 표시
			$('alert-kakao-login').removeClass("d-none").text("카카오 로그인 처리 중 오류가 발생했습니다.")
		}
    })
  }



// 네이버 로그인
const naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "ScnDmxD73zT5f5ltkhm4",
			callbackUrl: "http://localhost:8181/user/login",
			//loginButton: {color: "green", type: 2}
		}
);
naverLogin.init(); // 로그인 설정

//네이버 로그인 기능
naverLogin.getLoginStatus(function (status) {
	if (status) {
		const nickName=naverLogin.user.getNickName();
		const email=naverLogin.user.getEmail();

        //닉네임을 선택하지 않으면 선택창으로 돌아갑니다.
		if(nickName===null||nickName===undefined ){ 
			alert("별명이 필요합니다. 정보제공을 동의해주세요.");
			naverLogin.reprompt(); 
			return ;  
		}else if(email===null||email===undefined) {
			alert("이메일이 필요합니다. 정보제공을 동의해주세요.");
			naverLogin.reprompt(); 
			return ;
		} else {	        	 
			$('#form-kakao-login input[name=email]').val(naverLogin.user.getEmail());
			$('#form-kakao-login input[name=password]').val("naver");
			$('#form-kakao-login input[name=user_name]').val(naverLogin.user.getNickName());
			$('#form-kakao-login input[name=logintype]').val(1);
			// 사용자 정보가 포함된 폼을 서버로 제출한다.
			document.querySelector('#form-kakao-login').submit();
     		
			const button_area=document.getElementById('naverLogout');
			button_area.innerHTML="<button id='btnLogout'>로그아웃</button>";

			const logout=document.getElementById('btnLogout');
			
			logout.addEventListener('click',(e)=>{
				naverLogin.logout();
     			location.replace("http://localhost:8181/main");
			})
		}
	}
      
});
</script>

</html>