<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
	<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../css/user/user_login.css">
</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .container-login} ) }">

    <!-- <div style="position: sticky; top: 42px; left: 0;">.....</div> -->
    <div class="container-login">
        <div class="row">
            <div class="login-title-box">
                로 그 인
            </div>
            <div class="login-main-box">
                <form class="login-form-inner" action="login" method="post">
                    <!-- 버튼 없는 인풋 -->
                    <div class="form-group"  >
                        <label style="font-weight: bold;">이메일</label><br>
                        <input type="text" class="form-control" name="email" placeholder="이메일을 입력해주세요">
                    </div><br>
                    <!-- 버튼 없는 인풋 -->
                    <div class="form-group">
                        <label style="font-weight: bold;">비밀번호</label><br>
                        <input type="password" class="form-control" name="password" placeholder="비밀번호를 입력해주세요">
                    </div><br>
                    <div class="form-group button">
                        <button type="submit" class="w-btn w-btn-indigo">로그인</button><br>
                    </div><br>
                    <div class="form-group button">
                        <button type="button" class=" w-btn w-btn-indigo kakao" onclick=kakaoLogin()></button><br>
                        <div class="alert alert-danger d-none" id="alert-kakao-login"></div>
                    </div><br>
                    <div class="form-group button">
                        <button type="button" class=" w-btn w-btn-indigo naver"></button><br>
                    </div><br>
                    <div class="form-group-right">
                        <a href=""><span>가입하기</span></a>
                        <span> | </span>
                        <a href=""><span>비밀번호 찾기</span></a>
                    </div>
                </form>
                <form id="form-kakao-login" method="post" action="kakao-login">
		    			<input type="hidden" name="email"/>
		    			<input type="hidden" name="password"/>
		    			<input type="hidden" name="user_name"/>
		    			<input type="hidden" name="logintype"/>
		    	</form>
            </div>
        </div>
    </div>

</th:block>

<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>

$("alert-kakao-login").addClass("d-none");

Kakao.init('9fa30995b7cd00ec24fd1457246c0f4e'); //발급받은 키 중 javascript키를 사용해준다.
console.log(Kakao.isInitialized()); // sdk초기화여부판단
//카카오로그인
function kakaoLogin() {
    Kakao.Auth.login({
    	success:function(auth){
			Kakao.API.request({
				url: '/v2/user/me',
				success: function(response){
					// 사용자 정보를 가져와서 폼에 추가.
					var account = response.kakao_account;
					
					$('#form-kakao-login input[name=email]').val(account.email);
					$('#form-kakao-login input[name=password]').val("kakao");
					$('#form-kakao-login input[name=user_name]').val(account.profile.nickname);
					$('#form-kakao-login input[name=logintype]').val(1);
					// 사용자 정보가 포함된 폼을 서버로 제출한다.
					document.querySelector('#form-kakao-login').submit();
				},
				fail: function(error){
					// 경고창에 에러메시지 표시
					$('alert-kakao-login').removeClass("d-none").text("카카오 로그인 처리 중 오류가 발생했습니다.")
				}
			}); // api request
		}, // success 결과.
		fail:function(error){
			// 경고창에 에러메시지 표시
			$('alert-kakao-login').removeClass("d-none").text("카카오 로그인 처리 중 오류가 발생했습니다.")
		}
    })
  }
</script>

</html>