<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 아이콘이 표시되지않아 직접 링크찾아 넣어줌 -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/user/userMypage.css">
</head>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">


    <section class="wrap">
       
            <div class="row">
                <div class="mypage-inner2">
                  
                    <div class="mypage-modify">
                        회원정보 수정
                    </div>
                    

                    <form class="box-form" name="userUpdate" action="####" method="post">
                    
                    	  <div class="mypage-group" display="none">
                            <input type="hidden" name="user_no" th:value="${userVO?.user_no}">
                          </div>
                    	  <div class="mypage-group">
                            <label>이메일</label>
                            <input type="text" name="email" value="abcdef@naver.com" class="form-control" readonly>
                          </div>
                    	
                          <div class="mypage-group">
                            <label>비밀번호</label>
                            <input type="password" id="password" name="password" th:value="${userVO?.password}" class="form-control" placeholder="수정할 비밀번호를 입력하세요">
                          </div>

                          <div class="mypage-group">
                            <label>닉네임</label>
                            <input type="text"  name="user_name" th:value="${userVO?.user_name}" class="form-control" placeholder="수정할 닉네임을 입력하세요">
                          </div>

                          <div class="mypage-group">
                            <label>관심분야</label>
                            <select class="user-sel"  name="interest" th:value="${userVO?.interest}" >
                              <option name="field">입시</option>
                              <option name="field">취업/창업</option>
                              <option name="field">자격증</option>
                              <option name="field">외국어회화</option>
                              <option name="field">IT/인터넷</option>
                              <option name="field">취미/문화</option>
                            </select>
                          </div>

                          <div class="mypage-group">
                            <div class="mypage-btn">
                              <button type="button" class="w-btn btn-danger btn-block1">탈퇴</button>
                              <a th:href="@{수정JS}" class="w-btn btn-block10" th:onclick="|user_valid()|">수정</a>
                           </div>
                          </div>

                    </form>
                </div>
            
        </div>
    </section>

    </th:block>
    
    <script th:inline="javascript">
    	function user_valid() {
    		this.event.preventDefault();
    		
    		document.userUpdate.action = "userUpdate";
    		document.userUpdate.submit();
    	}
    	
    </script>
    
</html>