<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- 아이콘이 표시되지않아 직접 링크찾아 넣어줌 -->
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"
	rel="stylesheet">
<script src="../js/bootstrap.js"></script>
<link rel="stylesheet" href="../css/user/userJoin.css">
</head>

<script th:inline="javascript">
   function pwcheck() {
    var aa = document.getElementById("pw1");
    var bb = document.getElementById("pw2");
    var cc = document.getElementById("pwmsg");

    if(aa.value != bb.value) {
      cc.innerHTML = "비밀번호가 틀립니다.";
      //alert("비밀번호가 틀립니다.")
    } else {
      cc.innerHTML = "비밀번호가 일치합니다.";
    }
   }
   
   $(function() {
		$("#ex_file").on('change', function() {
			readURL(this);
		});
	});

	$(function() {
		$(".btn-nomal").on('click', function() {
			$('.profile-img').attr('src', '../img/group/no_photo.png');
		});
	});

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();
			reader.onload = function(e) {
				$('.profile-img').attr('src', e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}
	
	// 이메일 중복체크
	$(document).on('click', '#emailChk', function () {		
		console.log('asd');
		
		$.ajax({
			url : "emailChk",
			type : "POST",
			dataType : "json",
			data : {
				"email" : $("#email").val()
			},
			success : function(data) {
				console.log(data)
				
				if (data == 1) {
					alert("중복된 이메일입니다.")
				} else if (data == 0) {
					alert("사용가능한 이메일입니다.")
				}
			},
			error : function() {
				alert("에러 입니다.");
			}

		});
		
	});
	
	

 </script>

<th:block th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">

	<section class="wrap">

		<div class="row">
			<div class="form-join">

				<div class="title-box">회원가입</div>

					<!--버튼달린 인풋-->
					<!--<div class="form-group">
                            <label>아이디</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="아이디는 8~12글자 입니다.">
                                <div class="input-group-btn">
                                  <button class="btn btn-success" type="button">중복확인하기</button>
                                </div>
                            </div>
                          </div>-->

				<form class="joinForm" action="joinForm" method="post" enctype="multipart/form-data">
					<div class="profile">
						<label>프로필사진</label>
						<div class="img-box">
							<img class="profile-img" src="../img/group/no_photo.png">
						</div>
						<label for="ex_file" class="w-btn btn-nomal pro-label">사진업로드</label>
						<input type="file" id="ex_file" name="file" />
						<button class="w-btn btn-nomal" type="button">기본이미지</button>
					</div>
					<!-- 버튼이 없는유형 -->
					
					
					<div class="form-group">
						<label>이메일</label>
						<div class="input-group">
							<input name="email" type="text" class="form-control" id="email" placeholder="예)abcde@gmail.com" required="required">
							<div class="input-group-btn">
								<button class="btn btn-block2" id="emailChk" type="button">이메일인증하기</button>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label>비밀번호</label> <input name="password" type="password"
							class="form-control" id="pw1" placeholder="영문 + 숫자 8자리를 입력하세요">
					</div>

					<div class="form-group">
						<label>비밀번호 확인</label> <input name="passwordcheck" type="password"
							class="form-control" id="pw2" placeholder="비밀번호를 입력하세요"
							onfocusout="pwcheck()"> <span id="pwmsg"></span>
					</div>

					<div class="form-group">
						<label>닉네임</label> <input name="user_name" type="text"
							class="form-control" placeholder="닉네임을 입력하세요" required="required">
					</div>

					<div class="form-group">
						<label>관심분야</label><br> <select class="user-sel"
							name="interest">
							<option>입시</option>
							<option>취업/창업</option>
							<option>자격증</option>
							<option>외국어회화</option>
							<option>IT/인터넷</option>
							<option>취미/문화</option>
						</select>
					</div>

					<div class="form-group">
						<button type="submit" class="w-btn btn-block3">가입하기</button>
					</div>


				</form>
			</div>

		</div>
	</section>
</th:block>

</html>