<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../css/error/error.css">
</head>
<body>

<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>Error</span></div>
                <span class="inner-status">Opps! Error!</span>
                <span class="inner-detail">Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</span>
                <span class="inner-detail"><a href="/main" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                        Return home
                    </a> </span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>

</body>
</html>