<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- 부트스트랩 적용방법 (min or 일반 파일중 하나를 링크) -->
<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">

<!-- jQuery경로 넣기 (링크 순서 중요)-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="../js/bootstrap.js"></script>

<!-- 공통 css디자인 -->
<link rel="stylesheet" href="../css/common.css">

<!-- 스타일 css디자인 -->
<link rel="stylesheet" href="../css/main.css">

</head>

<th:block
	th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">
	<section class="wrap">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-9 col-lg-6 form-study">

					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol>

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img src="../img/group/banner-img1.jpg" alt="img1">
							</div>

							<div class="item">
								<img src="../img/group/banner-img2.jpg" alt="img2">
							</div>

							<div class="item">
								<img src="../img/group/banner-img3.jpg" alt="img3">
							</div>
						</div>

						<!-- Left and right controls -->
						<a class="left carousel-control" href="#myCarousel"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a>
					</div>

				</div>
			</div>
		</div>

		<section class="group_main_list">

			<section class="group_main_list_page">

				<h3 style="border: 1px solid #dae1e6; background-color: #f7f9fa;">
					원하는 스터디 그룹을 찾아보세요</h3>

				<div class="group_main_list_total_search">
				
					<form class="group_main_list_total_search_form" name="main" action="main" method="get">
					
					<!-- 폼에 page값을 1, 데이터 개수, 서치 키워드를 보냄 -->
					<!-- 
					<input type="hidden" name="page" th:value="1">
					<input type="hidden" name="amount" th:value="${pageVO.amount}">
					 -->
						<div class="group_main_list_search_box">
							<div class="group_main_list_search">
								<div class="group_main_list_category_search">

									<div class="group_main_list_category_label">
										<label> 카테고리 </label>
									</div>

									<input type="hidden" name="group_category" value="">
									
									<div class="group_main_list_category_major">
										<!-- 대분류 -->
									</div>

									<div class="group_main_list_category_minor">
										<!-- 소분류 -->	
										<select class="minor_option" id="minor_option">
											<option>선택하세요</option>
											
										</select>
									</div>
								</div>

								<div class="group_main_list_common_search">

									<div class="group_main_list_common_label">
										<label> 키워드 검색 </label>
									</div>

									<div class="group_main_list_common_input">
										<input type="text" id="keywordSearch"
											placeholder="찾고 있는 스터디를 검색해보세요." name="searchKeyword">
										<button id="common_input_btn" type="submit"
											class="glyphicon glyphicon-search"></button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="group_main_list_searchcount">
					<h2>000개의 스터디를 찾았습니다.</h2>

					<select class="group_main_list_searchcount_amount"
						th:onchange="|group_dataHandler(this)|">
						<option value="10">10개 보기</option>
						<option value="20">20개 보기</option>
						<option value="40">40개 보기</option>
						<option value="80">80개 보기</option>
					</select>

				</div>

				<section class="group_main_list_searchresult">
					<div class="group_main_list_searchresult_box">
						<ul>
							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

							<li><a href="#"> <img src="../img/group/1.png">

									<div class="group_main_list_searchresult_detail">

										<div class="group_main_list_searchresult_left">
											<span>스터디 분야</span><br> <span>스터디 이름</span><br> <span>스터디
												리더(닉네임)</span>
										</div>

										<div class="group_main_list_searchresult_right">
											<span>스터디 기간</span><br> <span>스터디 시간</span><br>
										</div>

									</div>

									<div class="group_main_list_searchresult_viewcount">
										<span>조회 수</span>
									</div>
							</a></li>

						</ul>
					</div>
				</section>
			<!--
				<div class="group_main_list_pagenation">
					<ul>
            			<th:block th:if="${pageVO.realEnd != 0}">
                			<li>
                    			<a th:href="@{/group/groupRegList(page=1, 
                    											  amount=${pageVO.amount},
                    											  searchKeyword=${pageVO.cri.searchKeyword}
                    											  )}">
                    				<i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    			</a>
                			</li>
                		</th:block>
                
                		<th:block th:if="${pageVO.prev}">
                			<li style="margin-right:5px;">
                				<a th:href="@{/group/groupRegList(page=${pageVO.start - 1}, 
                				                                  amount=${pageVO.amount},
                				                                  searchKeyword=${pageVO.cri.searchKeyword}
                				                                  )}">
              		  				<i class="fa fa-angle-left" aria-hidden="true"></i>
              		  			</a>
             		   		</li>
            		    </th:block>
                
						<th:block th:each="page : ${pageVO.pageList}">
							<li th:class="${pageVO.page == page? 'on' : ''}">
								<a th:href="@{/group/groupRegList(page=${page}, 
								                                  amount=${pageVO.amount},
								                                  searchKeyword=${pageVO.cri.searchKeyword}
								                                  )}">[[${page}]]</a>
							</li>
						</th:block>   
				             
              		  	<th:block th:if="${pageVO.next}">
             			   	<li style="margin-left:5px;">
              			  		<a th:href="@{/group/groupRegList(page=${pageVO.end + 1},
              			  		                                  amount=${pageVO.amount},
              			  		                                  searchKeyword=${pageVO.cri.searchKeyword}
              			  		                                  )}">
               			 			<i class="fa fa-angle-right" aria-hidden="true"></i>
                				</a>
                			</li>
                	  	</th:block>
                
                		<th:block th:if="${pageVO.realEnd != 0}">
	                		<li>
    	            			<a th:href="@{/group/groupRegList(page=${pageVO.realEnd), 
    	            			                                  amount=${pageVO.amount},
    	            			                                  searchKeyword=${pageVO.cri.searchKeyword}
    	            			                                  )}">
        	        				<i class="fa fa-angle-double-right" aria-hidden="true"></i>
            	    			</a>
                			</li>
                		</th:block>
            		</ul>
				</div>
 -->

			</section>

		</section>
	</section>
</th:block>

<script th:inline="javascript">

	$(document).ready(function() {
		
		$.getJSON("../getCategory", 
				  function(data) {
			
				  console.log(data);
				
                  var category01 = "";
                  
                  category01 += '<select class="major_option" id="major_option" onchange="getCategory_List(event);" >';
                  
                  category01 += '<option class="reset">선택하세요</option>';
                  data.forEach(function(result, index) {
                	  
                	  category01 += '<option class="major" data-set=' + JSON.stringify(result) + '>' + result.category_detail_nm + '</option>';
                  })
                  
                  category01 += '</select>';
                  
                  console.log(category01);
                  
                  $(".group_main_list_category_major").append(category01);
                  
                  //$(".minor").remove(category02);
                  
		});
	})
	
	/* 카테고리 */
	function getCategory_List(e) {
    	e.preventDefault(); //고유이벤트중지
    	//if( e.target.tagName != 'SELECT') return; //태그검증
    
    	var obj = $(e.target).find('option:selected').data("set"); //데이터셋을 가져옴 
		console.log(obj);
		
    	
    //태그처리
    if(obj != null) {
    	
        if(obj.category_lv == 1 || obj.category_lv == 2) {
            console.log('1lv');
            //$().loading(); //로딩
            $(e.currentTarget).category_remove(); //이전 카테고리삭제
            //////////////////////////////////////////////////
            //비동기콜백에서 category_create() 호출
            //비동기호출후 category_set() 호출 
            //console.log(obj);
            $.ajax({
               type: "get",
               url: "../getCategoryChild/"+obj.category_group_id+"/"+obj.category_lv+"/"+obj.category_detail_lv,
               dataType: "json", 
               //data:,
               //contentType:,
               success:function(data){
     	
     		   category_create(data); //응답 받은 데이터를 카테고리 생성함수에 전달

               },
               error: function(error, status){
                  alert("카테고리 조회 실패. 관리자에 문의하세요.");
               }
            })

         } 
         
         var p = $(e.target).category_set();
     	
     } else {
    	 
    	 category_reset();
     }
    	
    }

 	//카테고리세팅
	$.fn.category_set = function() {
	
 	var obj = this.find('option:selected').data("set");
 	console.log(obj);
 	
 	var category_group_id = this.find('option:selected').data("set").category_group_id;
	var category_id = this.find('option:selected').data("set").category_id; 
	$("input[name='group_category']").val(category_group_id + category_id ); //name이 group_category인 곳에 추가
	
}
	//이전카테고리 삭제JS
	$.fn.category_remove = function() {
	
	while(this.next().length != 0) {
		$(this).next().remove();
		
	}
}
	//다음카테고리 생성JS
	function category_create(data) {
		
	    var category02 = "";
		 
	    
		data.forEach(function(result, index) {
	                	
	    category02 += '<option class="minor" data-set=' + JSON.stringify(result) + '>' + result.category_detail_nm + '</option>';
	    
		})
     
	    $('option.minor').remove();
	    $(".minor_option").append(category02);
    
	    
	}

	//선택하세요를 눌렀을 때 (카테고리 데이터 리셋)
	function category_reset() {
		
		$('option.minor').remove();
	
	}
	
	//데이터 개수 변경 JS
	function group_dataHandler(a) {
	
		location.href='/main?page=1&amount=' + a.value;
	}

	//검색 버튼
	var common_input_btn = document.getElementById("common_input_btn");
	common_input_btn.onclick = function() {
		

		event.preventDefault(); //기본 이벤트 중지
		document.main.submit(); //폼 전송
	}

</script>
</html>