<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- 부트스트랩 적용방법 (min or 일반 파일중 하나를 링크) -->
<link rel="stylesheet" href="../css/bootstrap/bootstrap.css">

<!-- jQuery경로 넣기 (링크 순서 중요)-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<script src="../js/bootstrap.js"></script>

<!-- 공통 css디자인 -->
<link rel="stylesheet" href="../css/common.css">

<!-- 스타일 css디자인 -->
<link rel="stylesheet" href="../css/main.css">

</head>

<th:block
	th:replace="~{/include/basicLayout :: setContent( ~{:: .wrap} ) }">
	<section class="wrap">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-9 col-lg-6 form-study">

					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<!-- <ol class="carousel-indicators">
							<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
							<li data-target="#myCarousel" data-slide-to="1"></li>
							<li data-target="#myCarousel" data-slide-to="2"></li>
						</ol> -->

						<!-- Wrapper for slides -->
						<div class="carousel-inner">
							<div class="item active">
								<img src="../img/group/banner-img1.jpg" alt="img1">
							</div>

							<div class="item">
								<img src="../img/group/banner-img2.jpg" alt="img2">
							</div>

							<div class="item">
								<img src="../img/group/banner-img3.jpg" alt="img3">
							</div>
							
							<ul class="main_title_ul">
								<li class="main_title_li">나의 관심분야를 찾고 <br><br> 스터디에 가입하세요 !</li>
							</ul>
							
						</div>

						<!-- Left and right controls -->
						<!-- <a class="left carousel-control" href="#myCarousel"
							data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="right carousel-control" href="#myCarousel"
							data-slide="next"> <span
							class="glyphicon glyphicon-chevron-right"></span> <span
							class="sr-only">Next</span>
						</a> -->
					</div>

				</div>
			</div>
		</div>

		<section class="group_main_list">

			<section class="group_main_list_page">

				<h3 style="background-color: #efe7db; margin-bottom: 50px">
					원하는 스터디 그룹을 찾아보세요
				</h3>

				<div class="group_main_list_total_search">
				
					<form class="group_main_list_total_search_form" name="main" action="main" method="get">
					
					<!-- 폼에 page값을 1, 데이터 개수, 서치 키워드를 보냄 -->
					<input type="hidden" name="page" th:value="1">
					<input type="hidden" name="amount" th:value="${pageVO.amount}">
					
						<div class="group_main_list_search_box">
							<div class="group_main_list_search">
								<div class="group_main_list_category_search">

									<div class="group_main_list_category_label">
										<label> 카테고리 </label>
									</div>

									<input type="hidden" name="group_category" value="">
									
									<div class="group_main_list_category_major">
										<!-- 대분류 -->
									</div>

									
									<div class="group_main_list_category_minor">
										<!-- 소분류 -->	
										<select class="minor_option" id="minor_option">
											<option>선택하세요</option>
											
										</select>
									</div>
									
									
								</div>
								
								
									
								<div style="padding-left: 210px">
									<div style="display:inline-block; color: red;">[[${cri.searchCategoryParent}]]</div>
									
									<div style="display:inline-block; color: red;">[[${cri.searchCategoryChild}]]</div>
								</div>

								<div class="group_main_list_common_search">

									<div class="group_main_list_common_label">
										<label> 스터디 검색 </label>
									</div>

									<div class="group_main_list_common_input">
										<input type="text" id="keywordSearch"
											placeholder="찾고 있는 스터디를 검색해보세요." name="searchKeyword">
										<button id="common_input_btn" type="button" 
										class="glyphicon glyphicon-search" onclick="main_Search(event);"></button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="group_main_list_searchcount">
					<h2 class="searchcount">[[${pageVO.total}]]개의 스터디를 찾았습니다.</h2>

					<!-- <select class="group_main_list_searchcount_amount"
						th:onchange="|group_dataHandler(this)|">
						<option value="10" th:selected="${pageVO.amount} == 10? 'selected' ">10개 보기</option>
						<option value="20" th:selected="${pageVO.amount} == 20? 'selected' ">20개 보기</option>
						<option value="40" th:selected="${pageVO.amount} == 40? 'selected' ">40개 보기</option>
						<option value="80" th:selected="${pageVO.amount} == 80? 'selected' ">80개 보기</option>
					</select> -->

				</div>

				<section class="group_main_list_searchresult">
					<div class="group_main_list_searchresult_box">
						<ul id="main_Search_ul">
							<li th:each="vo, state : ${list}">
								<a th:href="@{group/groupDetail(group_no=${vo.group_no})}">
									<img src="../img/group/1.png">
									
									<div class="group_main_list_searchresult_detail">
	
										<div class="group_main_list_searchresult_left">
											<span>[[${vo.category_child_name}]]</span><br> 
											<span>[[${vo.group_name}]]</span><br> 
											<span>[[${vo.group_leader_name}]]</span><br><br><br>
										</div>

										<div class="group_main_list_searchresult_right">
												<span>[[${vo.group_participant_amount}]] 명</span><br> 
										</div>	
										
	
									</div>
	
								</a>
							</li>
						</ul>
					</div>
				</section>

				<div class="pagination">

						<ul class="group_main_list_pagenation_ul">
	            			<th:block th:if="${pageVO.realEnd != 0 && pageVO.page != 1}">
	                			<li>
	                    			<a th:href="@{/main(page=1, amount=${pageVO.amount}, searchCategoryParent=${pageVO.cri.searchCategoryParent}, searchCategoryChild=${pageVO.cri.searchCategoryChild}, searchKeyword=${pageVO.cri.searchKeyword})}"><i class="glyphicon glyphicon-backward"></i></a>
	                			</li>
	                		</th:block>
	                
	                		<th:block th:if="${pageVO.prev != 0 && pageVO.page != 1}">
	                			<li>
	                				<a th:href="@{/main(page=${pageVO.page - 1}, amount=${pageVO.amount}, searchCategoryParent=${pageVO.cri.searchCategoryParent}, searchCategoryChild=${pageVO.cri.searchCategoryChild}, searchKeyword=${pageVO.cri.searchKeyword})}"><i class="glyphicon glyphicon-triangle-left"></i></a>
	             		   		</li>
	            		    </th:block> 
	                
							<th:block th:each="page : ${pageVO.pageList}">
								<li th:class="${pageVO.page == page? 'on' : ''}">
									<a th:href="@{/main(page=${page}, amount=${pageVO.amount}, searchCategoryParent=${pageVO.cri.searchCategoryParent}, searchCategoryChild=${pageVO.cri.searchCategoryChild}, searchKeyword=${pageVO.cri.searchKeyword})}">[[${page}]]</a>
								</li>
							</th:block>   
					             
	              		  	<th:block th:if="${pageVO.next != 0 && pageVO.page != pageVO.realEnd}">
	             			   	<li>
	              			  		<a th:href="@{/main(page=${pageVO.page + 1}, amount=${pageVO.amount}, searchCategoryParent=${pageVO.cri.searchCategoryParent}, searchCategoryChild=${pageVO.cri.searchCategoryChild}, searchKeyword=${pageVO.cri.searchKeyword})}"><i class="glyphicon glyphicon-triangle-right"></i></a>
	                			</li>
	                	  	</th:block>
	                
	                		<th:block th:if="${pageVO.realEnd != 0 && pageVO.page != pageVO.realEnd}">
		                		<li>
	    	            			<a th:href="@{/main(page=${pageVO.realEnd}, amount=${pageVO.amount}, searchCategoryParent=${pageVO.cri.searchCategoryParent}, searchCategoryChild=${pageVO.cri.searchCategoryChild}, searchKeyword=${pageVO.cri.searchKeyword})}"><i class="glyphicon glyphicon-forward"></i></a>
	                			</li>
	                		</th:block>
	
	            		</ul>
					
					</div>					
					
			</section>

		</section>
	</section>
</th:block>

<script th:inline="javascript">


//메시지 출력문
(function() {
	var msg = JSON.parse('[[${msg}]]');	
	if(msg != null) {
		alert(msg);
	}
})();


	$(document).ready(function() {
		
		$.getJSON("../getCategory", 
				  function(data) {
			
                  var category01 = "";
                  
                  category01 += '<select class="major_option" id="major_option" onchange="getCategory_List(event);" >';
                  
                  category01 += '<option class="reset">선택하세요</option>';
                  data.forEach(function(result, index) {
                	  
                	  category01 += '<option class="major" data-set=' + JSON.stringify(result) + '>' + result.category_detail_nm + '</option>';
                  })
                  
                  category01 += '</select>';
                  
                  $(".group_main_list_category_major").append(category01);
                  
                  //$(".minor").remove(category02);
                  
		
				  //console.log('[[${list}]]')
	});
	})
	
	/* 카테고리 */
	function getCategory_List(e) {
    	e.preventDefault(); //고유이벤트중지
    	//if( e.target.tagName != 'SELECT') return; //태그검증
    
    	var obj = $(e.target).find('option:selected').data("set"); //데이터셋을 가져옴 
		//console.log(obj);
		
    	
    //태그처리
    if(obj != null) {
    	
        if(obj.category_lv == 1 || obj.category_lv == 2) {
            //console.log('1lv');
            //$().loading(); //로딩
            $(e.currentTarget).category_remove(); //이전 카테고리삭제
            //////////////////////////////////////////////////
            //비동기콜백에서 category_create() 호출
            //비동기호출후 category_set() 호출 
            //console.log(obj);
            $.ajax({
               type: "get",
               url: "../getCategoryChild/"+obj.category_group_id+"/"+obj.category_lv+"/"+obj.category_detail_lv,
               dataType: "json", 
               //data:,
               //contentType:,
               success:function(data){
     	
     		   category_create(data); //응답 받은 데이터를 카테고리 생성함수에 전달
				
     		   console.log(data);
               },
               error: function(error, status){
                  alert("카테고리 조회 실패. 관리자에 문의하세요.");
               }
            })

         } 
         
         var p = $(e.target).category_set();
     	
     } else {
    	 
    	 category_reset();
     }
    	
    }

 	//카테고리세팅
	$.fn.category_set = function() {
	
 	var obj = this.find('option:selected').data("set");
 	
 	var category_group_id = this.find('option:selected').data("set").category_group_id;
	var category_id = this.find('option:selected').data("set").category_id; 
	var category_detail_nm = this.find('option:selected').data("set").category_detail_nm;
	$("input[name='group_category']").val(category_group_id + category_id ); //name이 group_category인 곳에 추가
	
	}
	//이전카테고리 삭제JS
	$.fn.category_remove = function() {
	
	while(this.next().length != 0) {
		$(this).next().remove();
		
		}
	}
	//다음카테고리 생성JS
	function category_create(data) {
		
		var category02 = "";
	    
		data.forEach(function(result, index) {
	                	
	    category02 += '<option class="minor" data-set=' + JSON.stringify(result) + '>' + result.category_detail_nm + '</option>';
	    
		})
     
	    $('option.minor').remove();
	    $(".minor_option").append(category02);
    	
	    
	}

	//선택하세요를 눌렀을 때 (카테고리 데이터 리셋)
	function category_reset() {
		
		$('option.minor').remove();
	
	}
	
	//데이터 개수 변경 JS
	function group_dataHandler(a) {
	
		location.href='/main?page=1&amount=' + a.value;
	}

	
	//검색 기능
	//검색 버튼
	var common_input_btn = document.getElementById("common_input_btn");
	common_input_btn.onclick = function() {
	
	console.log($("#major_option").val());
	console.log($("#minor_option").val());
	console.log($("#keywordSearch").val());
		
 		/* event.preventDefault(); //기본 이벤트 중지
		document.groupList.submit(); */
 		
 		
  		$.ajax({
		
			url : "/mainAjax",
			type : "post",
			//dataType : "json",
			contentType: "application/json",
			data : JSON.stringify({
				parent_name : $("#major_option").val(),
				child_name : $("#minor_option").val(),
				group_name : $("#keywordSearch").val()
				}),
			success : function(data) {
/* 				$("#major_option").val(parent_name)
				$("#minor_option").val(child_name)
				$("#keywordSearch").val(group_name) */
				
				//데이터를 비동기로 받아오는 함수(~~개의 스터디를 찾았습니다 / 페이지네이션 / 검색된 데이터 목록)
				ajax_data(data);
				
			},
			error : function() {
				alert("검색 실패, 관리자에게 문의하세요.")
			}
		});
		
	}
	
 	//비동기 데이터 가져오는 전체 function
	function ajax_data(data) {
		
 		var list = data.list
		var cri = data.cri
		var pageVO = data.pageVO
		
		console.log(list);
		console.log(cri);
		console.log(pageVO);
		
 		//검색된 데이터 목록
		$("#main_Search_ul").remove()
		
		var main_Search = "";
		
		main_Search += "<ul id='main_Search_ul'>";
		
		list.forEach(function(result,index) {
			
			main_Search += "<li>";
			
 			main_Search += "<a href='" + "/group/groupDetail?group_no=" + result.group_no + "'>";
 			
			main_Search += "<img src='../img/group/1.png'>"
			
			main_Search += "<div class='group_main_list_searchresult_detail'>";
			
			main_Search += "<div class='group_main_list_searchresult_left'>";
			main_Search += "<span>" + result.category_child_name + "</span><br>";
			main_Search += "<span>" + result.group_name + "</span><br>";
			main_Search += "<span>" + result.group_leader_name + "</span><br><br><br>";
			main_Search += "</div>"
			
			main_Search += "<div class='group_main_list_searchresult_right'>";
			main_Search += "<span>" + result.group_participant_amount + "명" + "</span><br>";
			main_Search += "</div>";
			
			main_Search += "</div>";
			
			main_Search += "</a>";
			
			main_Search += "</li>";
		})
		
		main_Search += "</ul>"
		
		$(".group_main_list_searchresult_box").append(main_Search);
		
		//무슨 카테고리를 찍었는지 보여주는 notion
		$(".group_main_list_category_search").siblings()[0].remove()
		
		var category_notion = "";
		
		category_notion += "<div style='padding-left: 180px;'>";
		category_notion += "<div style='display: inline-block; color: red;'>" + cri.searchCategoryParent + " > " + cri.searchCategoryChild + "</div>"
		category_notion += "<div style='display: inline-block; color: red;'></div>"
		category_notion += "</div>"
		
		$(".group_main_list_category_minor").after(category_notion);
		
		//"~~개의 스터디를 찾았습니다."
		$(".searchcount").remove()
		
		var searchcount = "";
		
		searchcount += "<h2 class='searchcount'>";
		
			
		searchcount += pageVO.total + "개의 스터디를 찾았습니다.";
			
		searchcount += "</h2>";
		
		$(".group_main_list_searchcount").append(searchcount);
		
		//페이지네이션 기능
		$(".group_main_list_pagenation_ul").remove()
		
		var pgnt = "";
		
		pgnt += "<ul class='group_main_list_pagenation_ul'>";
		
		//◀◀ 버튼
		if(pageVO.realEnd != 0 && pageVO.page != 1) {
			pgnt += "<li><a href='/main?page=1&amount=" + pageVO.amount + "&searchCategoryParent=" + cri.searchCategoryParent + "&searchCategoryChild=" + cri.searchCategoryChild + "&searchKeyword=" + cri.searchKeyword + "'>◀◀</a></li>"
		}
		
		//◀ 버튼
		if(pageVO.prev != 0 && pageVO.page != 1) {
			pgnt += "<li><a href='/main?page=" + (pageVO.page - 1) + "&amount=" + pageVO.amount + "&searchCategoryParent=" + cri.searchCategoryParent + "&searchCategoryChild=" + cri.searchCategoryChild + "&searchKeyword=" + cri.searchKeyword + "'>◀</a></li>"  	
		}
				
		//페이지네이션 숫자
		
		for(let i = pageVO.start; i <= pageVO.end; i++) {
			pgnt += "<li><a href='/main?page=" + (i) + "&amount=" + pageVO.amount + "&searchCategoryParent=" + cri.searchCategoryParent + "&searchCategoryChild=" + cri.searchCategoryChild + "&searchKeyword=" + cri.searchKeyword + "'>" + (i) + "</a></li>"
		}
		
		//▶ 버튼
		if(pageVO.next != 0 && pageVO.page != pageVO.realEnd) {
			pgnt += "<li><a href='/main?page=" + (pageVO.page + 1) + "&amount=" + pageVO.amount + "&searchCategoryParent=" + cri.searchCategoryParent + "&searchCategoryChild=" + cri.searchCategoryChild + "&searchKeyword=" + cri.searchKeyword + "'>▶</a></li>"
			
		}
		
		//▶▶ 버튼
		if(pageVO.realEnd != 0 && pageVO.page != pageVO.realEnd) {
			pgnt += "<li><a href='/main?page=" + pageVO.realEnd + "&amount=" + pageVO.amount + "&searchCategoryParent=" + cri.searchCategoryParent + "&searchCategoryChild=" + cri.searchCategoryChild + "&searchKeyword=" + cri.searchKeyword + "'>▶▶</a></li>"
			
		}
		
		pgnt += "</ul>"
		
		$(".pagination").append(pgnt);
		
 	} 
	
		

</script>
</html>