.board-title {
    margin: 40px auto;
    width: 250px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.board-box {
    width: 60%;
    margin: 0 auto;
}

.board-main {
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
}

.board-top {
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    color: #333;
    position: relative;
    padding: 15px 0;
    border-bottom: 2px solid #939393;

}

.board-content {
    position: relative;
    width: 100%;
    padding: 30px 0;
}

.board-footer > ul {
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    border-top: 1px solid #d5d9df;
}

.board-footer > ul > li {
    padding: 10px 15px;
    border-bottom: 1px solid #d5d9df;
}

.board-footer > ul > li > p > a {
    color: #333;
}

.b-prev, .b-next {
    position: absolute;
    display: block;
    padding-right: 50px;
    color: #666;
    font-size: 13px;
    font-weight: 400;
}

.txt-prev, .txt-next {
    padding-left: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 2px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 400;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: #BFA2DB;
    color: #7F7C82;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.list-btn {
    float: right;
    background-color: #663399;
    color: white;
}

.list-btn:hover {
    background-color: #8e43d3;
    color: white;
    text-decoration: none;
}

.btn-danger {
	margin-left: 10px;
}

.list-btn2 {
	float: left;
	background-color: #663399;
    color: white;
}

.list-btn2:hover {
    background-color: #8e43d3;
    color: white;
    text-decoration: none;
}