<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teampjt.StepUP.group.GroupMapper">

	<select id="getGroupList" resultType="StudyGroupVO">
		<![CDATA[
		SELECT *
		FROM (SELECT A.*,
       			     @ROWNUM := @ROWNUM + 1 AS RN
	  		  FROM (SELECT *
			  	    FROM studygroup
	    ]]>
	    	        <if test="searchKeyword != '' and searchKeyword != null">
	    	        WHERE group_name LIKE CONCAT('%', #{searchKeyword}, '%')
	    	        </if>
	    	        <if test="searchCategoryParent != '' and searchCategoryParent != null">
	    	        AND category_parent_name LIKE #{searchCategoryParent}
	    	        </if>
	    	        <if test="searchCategoryChild != '' and searchCategoryChild != null">
	    	        AND category_child_name LIKE #{searchCategoryChild}
	    	        </if>
	    	        ORDER BY group_name ASC) A, (SELECT @ROWNUM := 0) D
	    <![CDATA[
	    )B
	    
	    
	    WHERE RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
	    ]]>
	</select>

	<select id="getGroupTotal" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM studygroup
		<if test="searchKeyword != '' and searchKeyword != null">
	    	WHERE group_name LIKE CONCAT('%', #{searchKeyword}, '%')
	    </if>
	</select>

	<select id="getCategory" resultType="SearchCategoryVO">
		SELECT * 
		FROM search_category
		WHERE category_lv = 1
	</select>
	
	<!-- 2, 3번째 카테고리 -->
	<select id="getCategoryChild" resultType="SearchCategoryVO">
		SELECT *
		FROM search_category
		WHERE category_group_id = #{category_group_id}
		AND category_parent_lv = #{category_lv}
		AND category_detail_parent_lv = #{category_detail_lv}
	</select>

	<!-- 공지등록 -->
	<insert id="noticeRegist">
		insert into groupnotice (groupnotice_title,
								 groupnotice_writer,
								 groupnotice_content,
								 groupnotice_regdate,
								 groupnotice_count								 
								 )
		value(#{groupnotice_title},
			  #{groupnotice_writer},
			  #{groupnotice_content},
			  NOW(),
			  #{groupnotice_count}
			  )
	</insert>
	
	<!-- 공지목록 -->
	<select id="getNoticeList" resultType="GroupNoticeVO">
		<![CDATA[
		select *
		from (select A.*,
		@ROWNUM := @ROWNUM + 1 as RN
		from (select * 
			from groupnotice
			where groupnotice_no
			order by groupnotice_no desc) A, (select @ROWNUM := 0) D
		) B
		where RN > (#{page}-1)*#{amount} and RN <= #{page}*#{amount};
		]]>
	</select>
	
	<!-- 공지상세보기 -->
	<select id="getNoticeDetail" resultType="GroupNoticeVO">
		select * from groupnotice
		where groupnotice_no = #{groupnotice_no}
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="updatecount">
		update groupnotice set groupnotice_count = groupnotice_count + 1 
		where groupnotice_no = #{groupnotice_no}
	</update>
	
	<!-- 공지수정페이지 -->
	<select id="getNoticeModify" resultType="GroupNoticeVO">
		select * from groupnotice
		where groupnotice_no = #{groupnotice_no}
	</select>
	
	<!-- 수정하기 -->
	<update id="noticeUpdate">
		update groupnotice 
		set groupnotice_title = #{groupnotice_title},
			groupnotice_content = #{groupnotice_content}
		where groupnotice_no = #{groupnotice_no}
	</update>
	
	<!-- 삭제하기 -->
	<delete id="noticeDelete">
		delete from groupnotice
		where groupnotice_no = #{groupnotice_no}
	</delete>
	
	<!-- 총 게시글 수 -->
	<select id="getTotal" resultType="int">
		select count(*) AS total
		from groupnotice
		
	</select>
	
	<!-- 댓글등록 -->
	<insert id="commentRegist">
		insert into group_detail_comment(user_name,
										 comment_content,										 
										 user_no)
		values(#{user_name},
			   #{comment_content},			
			   #{user_no}
			   )
	
	</insert>
	
	<select id="getGroupCommentList" resultType="com.teampjt.StepUP.command.GroupDetailCommentVO">
		select * from group_detail_comment
	
	</select>
	
	<!-- 이전글, 다음글 -->
	<select id="movePage" parameterType="int" resultType="GroupNoticeVO">
	select * from(SELECT 
		groupnotice_no,
         LEAD(groupnotice_no,1,9999) OVER(ORDER BY groupnotice_no) as next,
         LAG(groupnotice_no,1,9999) OVER(ORDER BY groupnotice_no) as prev,
         groupnotice_title,
         LEAD(groupnotice_title,1,9999) OVER(ORDER BY groupnotice_no) as nexttitle,
         LAG(groupnotice_title,1,9999) OVER(ORDER BY groupnotice_no) as prevtitle
		FROM groupnotice
        order by groupnotice_no DESC) M
        WHERE groupnotice_no = #{groupnotice_no}
	</select>
</mapper>