<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teampjt.StepUP.group.GroupMapper">

	<select id="getCategory" resultType="SearchCategoryVO">
		SELECT * 
		FROM search_category
		WHERE category_lv = 1
	</select>
	
	<!-- 2, 3번째 카테고리 -->
	<select id="getCategoryChild" resultType="SearchCategoryVO">
		SELECT *
		FROM search_category
		WHERE category_group_id = #{category_group_id}
		AND category_parent_lv = #{category_lv}
		AND category_detail_parent_lv = #{category_detail_lv}
	</select>

	<!-- 공지등록 -->
	<insert id="noticeRegist">
		insert into groupnotice (groupnotice_title,
								 groupnotice_writer,
								 groupnotice_content,
								 groupnotice_regdate,
								 groupnotice_count								 
								 )
		value(#{groupnotice_title},
			  #{groupnotice_writer},
			  #{groupnotice_content},
			  NOW(),
			  #{groupnotice_count}
			  )
	</insert>
	
	<!-- 공지목록 -->
	<select id="getNoticeList" resultType="GroupNoticeVO">
		select * from groupnotice 
		where groupnotice_no 
		order by groupnotice_no desc
	</select>
	
	<!-- 공지상세보기 -->
	<select id="getNoticeDetail" resultType="GroupNoticeVO">
		select * from groupnotice
		where groupnotice_no = #{groupnotice_no}
	</select>
	
	<!-- 조회수 올리기 -->
	<update id="updatecount">
		update groupnotice set groupnotice_count = groupnotice_count + 1 
		where groupnotice_no = #{groupnotice_no}
	</update>
	
	
	<select id=""></select>
	
	<!-- 댓글등록 -->
	<insert id="commentRegist">
		insert into group_detail_comment(
										 user_name,
										 comment_content,										 
										 user_no)
		values(
			   #{user_name},
			   #{comment_content},			
			   #{user_no}
			   )
	
	</insert>

</mapper>