<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teampjt.StepUP.user.UserMapper">

	<select id="getUserList" resultType="UserVO"> 
		<![CDATA[
		SELECT *
		FROM (SELECT A.*,
		             @ROWNUM := @ROWNUM + 1 AS RN
		      FROM (SELECT *
		            FROM user
		            WHERE user_name = 'admin'
		            ORDER BY user_no DESC) A, (SELECT @ROWNUM := 0) D
	 	)B
	 	WHERE RN > (#{page}-1) * #{amount} AND RN <= #{page} * #{amount}
	 	]]>
		
	</select>
	
	<select id="getUserTotal" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM user
		WHERE user_name = 'admin'
	</select>
	
</mapper>