<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.teampjt.StepUP.user.UserMapper">

	<insert id="userRegist"> 
		insert into user(email, password, user_name, interest, logintype)
		values(#{email}, #{password}, #{user_name}, #{interest}, #{logintype}) 
	</insert>
  
	<delete id="userDelete">
    	DELETE FROM USER WHERE user_no = #{user_no} ;
	</delete>

	<select id="getApplyList" resultType="RequestVO"> 
		SELECT *
		FROM request
	</select>
	
	<select id="getApplyTotal" resultType="int">
		SELECT COUNT(*) AS TOTAL
		FROM request
		WHERE user_name = 'admin'
	</select>
	
	<select id="login" resultType="UserVO">
		select * from user where email=#{email} and password=#{password}
	</select>
	
	
	<update id="update">
		update user
		set password = #{password},
				user_name = #{user_name},
				interest = #{interest},
				logintype = #{logintype}
		where user_no = #{user_no}
	</update>
	
	<insert id="registFile">
		insert into user_upload (filename, filepath, email, uuid)
		values( #{filename}, #{filepath}, #{email}, #{uuid})
	
	</insert>
							
	
	
</mapper>